*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background:linear-gradient(to right, #232526, #414345);
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}

h1{
    text-align: center;
    font-size: 2.3rem;
    color: #fff;
    margin-bottom: 24px;
    letter-spacing: 3px;
    margin-bottom: 24px;
    animation: glow 1.3s infinite ease-in-out;
}

#container{
    text-align: center;
    background: rgb(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 34px rgb(0, 140, 255);
    width: 430px;
}

#display{
    font-size: 2rem;
    letter-spacing: 2px;
    padding: 15px;
    margin-bottom: 24px;
    background: #030303;
    color: aqua;
    border-radius: 10px;
    box-shadow: 0 0 14px aqua, 0 0 24px aqua;
}

#controls{
    display: flex;
    justify-content: center;
    gap: 14px;
}

button{
    background: linear-gradient(to right, #00c6ff, #0072ff);
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    color: #720770;
    font-weight: bold;
    border-radius: 54px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgb(255, 255, 255);
}

button:hover{
    background: linear-gradient(to right, rgb(0, 198, 255), #0072ff);
    box-shadow: 0 0 15px rgba(0, 198, 255, 0.8); 
}

button:active{
    transform: scale(0.95);
    box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.4 );
}

#laps {
    margin-top: 20px;
    list-style: none;
    padding: 0;
    width: 200px;
    text-align: left;
}

#laps li {
    background: rgba(255, 255, 255, 0.1);
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 8px;
    font-size: 1rem;
    color: aqua;
    box-shadow: 0 0 8px aqua;
}

@keyframes glow{
    0%, 100%{
        text-shadow: 0 0 10px #00c6ff, 0 0 20px #00c6ff, 0 0 30px #00c6ff;
    }
    50%{
        text-shadow: 0 0 20px #0072ff, 0 0 30px #0072ff, 0 0 40px #0072ff;
    }
}