/* External CSS style */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background:linear-gradient(to right, #232526, #414345);
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}